.currentTime {
    block-size: 2px;
    inline-size: 8rem;
    background-color: var(--red10);
    position: absolute;
    inset-inline-start: 150px;
    inset-block-start: 200px;
    z-index: 2;
}

.currentTime-day {
    block-size: 2px;
    inline-size: 8rem;
    background-color: var(--red10);
    position: absolute;
    inset-inline-start: 150px;
    inset-block-start: 200px;
    z-index: 2;
}


.currentTime::before {
    content: '';
    display: block;
    inline-size: 1rem;
    block-size: 1rem;
    background-color: var(--red10);
    border-radius: 50%;
    transform: translateY(-50%);
}

.currentTime-day::before {
    content: '';
    display: block;
    inline-size: 1rem;
    block-size: 1rem;
    background-color: var(--red10);
    border-radius: 50%;
    transform: translateY(-50%);
}

.currentTime-day.is-day-mode {
    inline-size: 90%;
    inset-inline-start: 0;
    align-items: flex-start;
    justify-content: flex-start;
}